:root {
    --main-bg-color: #50423d;
    --first-color: #fcfff7;
    --second-color: #e06a47;
}

body {
    background-color: var(--main-bg-color);
    color: black;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--main-bg-color);
    color: black;
}

.header_section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#rightSideOfNavbar a {
    color: var(--first-color);
    font-family: 'Lumanosimo', cursive;
}

#leftSideOfNavbar {
    color: var(--second-color);
    font-family: 'Lumanosimo', cursive;
}

.heading_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.header_section .container {
    padding: 0;
}

.header_section .nav_container {
    margin: 0 auto;
}

.home_page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.header_section img {
    width: 33px;
}


/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #3b3a3a;
    padding-bottom: 90px;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .right-side-slider {
    color: #000000;
}

.slider_section .right-side-slider h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.slider_section .right-side-slider p {
    margin-top: 20px;
}

.slider_section .right-side-slider a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #bb4848;
    color: #ffffff;
    border-radius: 35px;
    margin-top: 35px;
}

.slider_section .right-side-slider a:hover {
    background-color: #933131;
}

.slider_section .img_container {
    border: 7px solid #b15f29;
    border-radius: 100%;
    overflow: hidden;
}

.slider_section .img_container div#carouselExampleContarols {
    width: 100%;
    position: unset;
}

.slider_section .img_container .img-box img {
    width: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
    top: initial;
    left: initial;
    bottom: 5%;
    right: 10%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
}

.slider_section .carousel-control-prev {
    background-image: url(../images/home-page/coffee-cup_logo.png);
    background-color: #ffffff;
    -webkit-transform: translate(-85px, 30px);
    transform: translate(-85px, 30px);
}

.slider_section .carousel-control-next {
    background-image: url(../images/home-page/coffee-cup_logo.png);
    background-color: #4b208c;
    -webkit-transform: translate(-45px, 0);
    transform: translate(-45px, 0);
}
